.root {
  display: flex;
  gap: 12px;
}

.ellipsis {
  align-self: flex-end;

  font-weight: 500;
  font-size: 12px;
  line-height: 100%;

  letter-spacing: -0.01em;

  color: var(--black-color);
}

.button.active {
  background-color: var(--active-color);
  border: 1px solid var(--active-color);
  color: var(--bg-color);
}

.button {
  width: 25px;
  height: 25px;

  outline: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;

  letter-spacing: -0.01em;

  color: var(--pagination-color);
  background-color: var(--pagination-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.button:hover {
  cursor: pointer;
}
