.root {
  position: relative;
}

.input {
  padding: 10px 20px 10px 40px;

  background: #f9fbff;
  border-radius: 10px;
  border: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  letter-spacing: -0.01em;
  color: #292d32;
}

.input::placeholder {
  color: #b5b7c0;
}

.icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
}
