.menuButton:hover,
.menuButton:focus {
  color: #5932ea;
  cursor: pointer;
}

.menuButton {
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

@media screen and (min-width: 720px) {
  .menuButton {
    display: none;
  }
}
