.overflow {
  overflow: auto;
}

.table {
  border-collapse: collapse;
}

.table th {
  padding: 5px 25px 5px 0;

  text-align: left;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border-bottom: 1px solid var(--border-color);
  letter-spacing: -0.01em;

  color: var(--light-text-color);
}

.table th:last-of-type {
  padding: 5px 0;
}

@media screen and (min-width: 1100px) {
  .table th {
    padding: 15px 50px 15px 0;
  }

  .table th:last-of-type {
    padding: 15px 0;
  }
}
